@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer utilities {
  .scrollbar {
    scrollbar-color: red white;
    scrollbar-width: thin;
  }
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    -webkit-box-shadow: inset 0 0 6px #000;
  }
  .scrollbar::-webkit-scrollbar-corner {
    display: none;
    height: 0;
    width: 0;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #9980fa;
  }
  .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 0 #fff;
    background: #bdbdcf;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f15946;
}
